@import url('https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700&display=swap'); 
body {  
    background:#191d28;
    color:#fff;
    font-family:"Oswald",sans-serif;
  }  
* { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: 0.2px solid red; */
} 

a{
    text-decoration: none;
    color: inherit;
}
nav{
    padding: 20px 30px 0;
}

.nav-wrapper{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
}
.nav-logo{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    overflow: hidden;
}
.nav-logo img{
    width: 67%;
}
.nav-middle{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-btn{
    border: 0;
    background-color:#2e3241;
    color: #fff;
    margin: 10px;
    padding: 10px 24px;
    border-radius: 10px;
    font-weight: 400;
    font-size: 1rem;
}
.nav-right{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-right button{
    border: 0;
    background-color:#3dc6c1;
    color: #fff;
    margin: 10px;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: 400;
    font-size: 1.1rem;
}


 /* 2nd part */

 .big-display{
    padding: 15px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
 }

.text-center{
    text-align: center;
}

.card-text{
    font-weight: 400;
    font-size: 27px;
    color: #5dc7c2;
}


.card-subtitle{
    font-size: 20px;
    opacity: 0.45;
    font-weight: 300;
}

.card-big-title{
    font-size: 70px;
    margin-bottom: 10px;
    padding-bottom: 1px;
}
.card-uppertitle{
    font-size: 30px;
    opacity: 0.45;
    font-weight: 300;
}

.card-lowertitle{
    font-size: 20px;
    opacity: 0.45;
    margin-bottom: 30px;
    font-weight: 300;
}


/* 3rd part */

.table-wrapper{
    padding: 0px 25px;
}
.table{
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    border-collapse: separate;
    border-spacing: 0 1em;
}

.table thead th{
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    /* background-color: #2e3241; */
    padding: 0px 12px;
}

.table thead th h4{
    font-size: 24px;
    margin: 0;
    opacity: 0.45;
}

.table tbody td {
    color: #fff;
    background-color: #2e3241;
    padding: 12px;
}
.table tbody td h4{
    font-size: 24px;
    margin: 0;
    opacity: 1;
}

td:first-child {
    border-radius: 10px 0 0 10px;
  }

  td:last-child {
    border-radius: 0 10px 10px 0;
  }

.coin-info{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.coin-logo{
    height: 35px;
    width: 35px;
    border-radius: 50%;

}

.color-red{
    color: #da5757;
}
.color-green{
    color: #5dc7c2;
}

.footer{
    display: flex;
    border-top: 2px solid #2e3241;
    padding: 13px;
}

.footer-text{
    padding-right: 12px;
    font-size: 12px;
    font-weight: 400;
    color: #888686;
}